.our-project {
    .section-title {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 500;
        color: $primary;

        margin-bottom: 1.25rem;
    }

    &__slider-two {
        position: relative;
    }

    .project__slide {
        color: $white;

        img {
            width: 100%;
            margin-bottom: 1rem;
        }

        h3 {
            font-size: clamp(1.75rem, 4vw, 55px);
            font-weight: 400;
        }
    }

    .project__swiper {
        padding-bottom: 2rem;
    }

    .swiper-pagination {
        .swiper-pagination-bullet {
            width: 30px;
            height: 3px;
            background-color: #5c5c5c;

            border-radius: 0;

            &-active {
                background-color: $primary;
            }
        }
    }

    .more__links {
        display: none;
    }

    @include media-breakpoint-up(md) {
        .project__slide {
            text-align: center;
            position: relative;

            img {
                max-width: 800px;
                width: 72%;
                margin: 0 auto;
            }

            h3 {
                position: absolute;
                top: 30%;
                left: 0;

                filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
            }
        }

        .project__swiper {
            padding-bottom: 3.75rem;
        }

        .section-title {
            position: absolute;
            z-index: 20;
            top: 0;

            margin-bottom: 1.5rem;

            span {
                position: relative;

                display: flex;
                flex-direction: column;
                gap: 1.5rem;

                &::before {
                    content: '';

                    display: inline-block;

                    width: 3px;
                    height: 7dvw;
                    max-height: 125px;
                    background-color: $primary;
                }

            }
        }

        .swiper-pagination {
            .swiper-pagination-bullet {
                margin: 0 2.3vw 0 0 !important;

                &:last-child {
                    margin-right: 0 !important;
                }
            }
        }

        .more__links {
            display: block;
            position: absolute;
            bottom: 3.75rem;
            right: 0;
            z-index: 20;
            max-width: 140px;
            width: 100%;

            .linkable {
                filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
            }

            .linkable__elem {
                margin-top: 1.25rem;
                position: relative;

                display: flex;
                flex-direction: column;
                gap: 1.5rem;

                align-items: start;

                span {
                    display: flex;
                    gap: .5rem;
                    align-items: center;
                }

                &::after {
                    content: '';

                    display: inline-block;

                    width: 3px;
                    height: 5dvw;
                    min-height: 50px;
                    background-color: $primary;
                }
            }
        }
    }

    // @include media-breakpoint-up(xxl){
    //     .section-title{
    //         span{
    //             position: relative;

    //             display: flex;
    //             flex-direction: column;
    //             gap: 1.5rem;

    //             &::before{
    //                 height: 125px;
    //             }

    //         }
    //     }
    // }
}